.error404{
    a{
        color: rgb(31, 31, 31);  
    }
    background: linear-gradient(to right, #642b73, #c6426e);
    color: rgb(31, 31, 31);
    height: 100vh;
    &--block{
        width: 70%;
        margin: 2rem auto;
        text-align: center;
    }
    &--number{
        font-size: 14rem;
    }
    &--text{
        font-size: 3rem;
    }
}